# Learning Together - Data Analysis

$e^{i\pi} + 1 = 0$

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
my_json = """
{  "zoo_animal": "Lion",
   "food": ["Daging","Sayur","Biji"],
   "bulu": "Coklat",
   "pakaian": null,
   "diet": [{"zoo animal": "Gazelle", "food": "Rumput", "bulu": "Emas"}]
}
"""

In [10]:
import json

In [12]:
data = json.loads(my_json)
data

{'zoo_animal': 'Lion',
 'food': ['Daging', 'Sayur', 'Biji'],
 'bulu': 'Coklat',
 'pakaian': None,
 'diet': [{'zoo animal': 'Gazelle', 'food': 'Rumput', 'bulu': 'Emas'}]}

In [14]:
json.dumps(data) #Convert data back to JSON

'{"zoo_animal": "Lion", "food": ["Daging", "Sayur", "Biji"], "bulu": "Coklat", "pakaian": null, "diet": [{"zoo animal": "Gazelle", "food": "Rumput", "bulu": "Emas"}]}'

In [17]:
dframe = DataFrame(data['diet'])
dframe

   bulu    food zoo animal
0  Emas  Rumput    Gazelle