# Learning Together- Data Analysis

$e^{i\pi} + 1 = 0$

In [23]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [24]:
data1 = DataFrame({'jawaban':['A','B','A','C','B','C'], 'nomor':np.arange(1,7)})
data1

  jawaban  nomor
0       A      1
1       B      2
2       A      3
3       C      4
4       B      5
5       C      6

In [25]:
data2 = DataFrame({'jawaban':['E','C','A'], 'nomor':np.arange(1,4)})
data2

  jawaban  nomor
0       E      1
1       C      2
2       A      3

In [26]:
pd.merge(data1,data2) #here we can see which index has same 'jawaban' and 'nomor'

  jawaban  nomor
0       A      3

In [28]:
pd.merge(data1,data2, on='jawaban') #we fetched data from the DataFrame for same 'jawaban'

  jawaban  nomor_x  nomor_y
0       A        1        3
1       A        3        3
2       C        4        2
3       C        6        2

In [30]:
pd.merge(data1,data2, on='jawaban', how='outer') #show all the result

  jawaban  nomor_x  nomor_y
0       A      1.0      3.0
1       A      3.0      3.0
2       B      2.0      NaN
3       B      5.0      NaN
4       C      4.0      2.0
5       C      6.0      2.0
6       E      NaN      1.0

## Now we will learn how to Merge on Index

After we learn how to merge from DataFrame, now we move on to how to <b>Merge on Index</b>