# Learning Together- Data Analysis

$e^{i\pi} + 1 = 0$

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([3,5,7,9])

obj

0    3
1    5
2    7
3    9
dtype: int64

In [5]:
obj.values

array([3, 5, 7, 9], dtype=int64)

In [6]:
war_cas = Series([82000000, 34000000, 21000000, 43000000], index=['USSR','Germany','India','Indonesia'])
war_cas

USSR         82000000
Germany      34000000
India        21000000
Indonesia    43000000
dtype: int64

In [24]:
war_cas['Indonesia']

43000000

In [27]:
war_cas[war_cas > 12000000]

USSR         82000000
Germany      34000000
India        21000000
Indonesia    43000000
dtype: int64

In [30]:
'Indonesia' in war_cas

True

In [32]:
war_dict = war_cas.to_dict()
war_dict

{'USSR': 82000000,
 'Germany': 34000000,
 'India': 21000000,
 'Indonesia': 43000000}

In [37]:
war_series = Series(war_dict)
war_series

USSR         82000000
Germany      34000000
India        21000000
Indonesia    43000000
dtype: int64

In [38]:
negara = ['Amerika', 'USSR', 'Germany', 'India', 'Indonesia']

In [42]:
list_negara = Series(war_dict, index=negara)
list_negara

Amerika             NaN
USSR         82000000.0
Germany      34000000.0
India        21000000.0
Indonesia    43000000.0
dtype: float64

In [43]:
pd.isnull(list_negara)

Amerika       True
USSR         False
Germany      False
India        False
Indonesia    False
dtype: bool

In [44]:
pd.notnull(list_negara)

Amerika      False
USSR          True
Germany       True
India         True
Indonesia     True
dtype: bool

In [45]:
war_series

USSR         82000000
Germany      34000000
India        21000000
Indonesia    43000000
dtype: int64