# Learning Together - Data Analysis

$e^{i\pi} + 1 = 0$

In [15]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [16]:
dframe = pd.read_csv('data.csv')
dframe

   1  2  3  4 mangga
0  i  s  r  a  orang
1  5  2  3  9  jeruk
2  r  a  y  i  orang

In [18]:
dframe = pd.read_csv('data.csv', header= None)
#dframe = pd.read_csv('data.csv', sep=',', header=None)
dframe

   0  1  2  3       4
0  1  2  3  4  mangga
1  i  s  r  a   orang
2  5  2  3  9   jeruk
3  r  a  y  i   orang

In [19]:
pd.read_csv('data.csv', header=None, nrows=2)

   0  1  2  3       4
0  1  2  3  4  mangga
1  i  s  r  a   orang

In [20]:
dframe

   0  1  2  3       4
0  1  2  3  4  mangga
1  i  s  r  a   orang
2  5  2  3  9   jeruk
3  r  a  y  i   orang

In [21]:
dframe.to_csv('outputdata.csv')

In [22]:
import sys

In [30]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,1,2,3,4,mangga
1,i,s,r,a,orang
2,5,2,3,9,jeruk
3,r,a,y,i,orang

In [28]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_1_2_3_4_mangga
1_i_s_r_a_orang
2_5_2_3_9_jeruk
3_r_a_y_i_orang

In [29]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,1,2,3
1,i,s,r
2,5,2,3
3,r,a,y