# Lecture Course - Data Analysis

$e^{i\pi} + 1 = 0$

In [2]:
import pandas as pd

#### Before Continuing

1. Temen-temen bisa mulai install package xlrd dan openpyxl
   
   Caranya:
   #### pip install xlrd
   #### pip install openpyxl

In [5]:
file = pd.ExcelFile('datatest.xlsx')

In [9]:
dframe = file.parse('Sheet1')
dframe

   Ini contoh data  Unnamed: 1  Unnamed: 2
0               12        6664         123
1              332        1234        5553
2              134          21         786
3               22          83         923
4               65           5          11